.container-About {
  height: 100vh;
  background-color: var(--background-color);
}
.border-div-left {
  margin-right: 20px;
  border-bottom: 2px solid var(--slight-slate);
  flex: 1;
  height: 0px;
}
.border-div-about-right {
  border-bottom: 2px solid var(--slight-slate);
  width: 50px;
  margin-left: 20px;
  height: 0px;
}
.border-line {
  border-right: 2px solid var(--slate);
  width: 0px;
  margin-right: 20px;
  height: 50px;
  margin: auto;
}
.border-text p {
  margin: auto;
  font-family: SFMono;

  color: var(--slate);
  writing-mode: vertical-rl;
  text-orientation: sideways;
  letter-spacing: 5px;
}

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 500px;
}
.border-text {
  justify-items: baseline;
}

.border-box-bottom-left-about {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75px;
  height: 75px;
  border-bottom: 2px solid var(--slight-slate);
  border-left: 2px solid var(--slight-slate);
}
.about-header {
  width: 190px;
  height: 42px;
  border-top: 2px solid var(--slate);
  display: flex;
  align-items: center;
  transition: 0.1s;
}
.about-header:hover {
  background-color: var(--slight-slate);
  border-left: 2px solid var(--slate);
  border-bottom: 0px;
}
.btn_content-about {
  font-family: SFMono;
  font-size: 13px;
  margin-left: 8px;
  color: var(--slate);
}

.icons-container {
  margin: auto;
}
.icon-brands {
  color: var(--slate);
  font-size: 50px;
  margin: 15px;
}

.border-box-bottom-left-skills {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border-top: 2px solid var(--slate);
  border-right: 2px solid var(--slate);
}
