@font-face {
  font-family: SFpro;
  src: url(./assets/fonts/SFPRODISPLAYREGULAR.OTF);
}

.wrapper-homepage {
  height: 100vh;
  background-color: var(--background-color);
}
.container-homePage {
  display: flex;

  height: 100%;
  align-items: center;
  justify-content: center;
}

.contact-icon-right {
  margin-left: 10px;
}
.hello {
  font-size: 15px;
  font-weight: 400;
  margin: 0px 0 5px;
  color: var(--slate);
}
.name {
  height: 40px;
  font-size: 32px;
  font-weight: 700;
  margin: 0px 0px 0px;
  color: var(--almost-white);
}
.front-end {
  font-size: 51px;
  font-weight: 700;
  margin: 0px 0 10px;
  color: var(--slate);
}
.short-description {
  font-size: 15px;
  font-weight: 400;
  margin: 0px 0 10px;
  max-width: 400px;
  color: var(--slight-gray);
}

.homepage-middle-section {
  margin: 8px;
}
.btn_getInTouch {
  margin-left: 35px;
}
.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage-right-section {
  margin-left: 100px;
}
.border-div-home-right {
  border-bottom: 2px solid var(--slight-slate);
  width: 50px;
  margin-right: 20px;
  height: 0px;
}
@media only screen and (max-width: 800px) {
  .homepage-right-section {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .front-end {
    font-size: 40px;
  }
  .name {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .front-end {
    font-size: 30px;
  }
  .name {
    font-size: 20px;
  }
  .hello {
    font-size: 13px;
  }
}
