.container-portfolio {
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}
.header-container h1 {
  margin-top: 0px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.portfolio-page {
  margin: 20px;
}
.container-portfolio-work {
  max-width: 950px;
  margin: auto;
}
.top-bar {
  display: flex;
  align-items: center;
}
.top-bar p {
  align-self: center;
}
.top-bar h2 {
  color: var(--almost-white);
  font-weight: 800;
  font-size: 40px;
}
.border-div {
  margin-left: 20px;
  border-bottom: 2px solid var(--slight-slate);
  flex: 1;
  height: 0px;
}
.border-div-top {
  border-bottom: 2px solid var(--slight-slate);
  width: 50px;
  margin-right: 20px;
  height: 0px;
}
.container-portfolio-nav {
  font-family: SFMono;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}
.btn_portfolio {
  width: 190px;
  height: 42px;
  border-left: 2px solid var(--slight-slate);
  display: flex;
  align-items: center;
}
.btn_portfolio:hover {
  background-color: var(--slight-slate);
  border-left: 2px solid var(--slate);
  cursor: pointer;
}
.btn_portfolio:hover p {
  color: var(--slate);
}
.btn_active {
  border-left: 2px solid var(--slate);
}
.btn_content p {
  color: var(--slight-gray);
}
.btn_active p {
  color: var(--slate);
}
.btn_content {
  padding-left: 7px;
}

.container-under-content {
  display: flex;
}

.img_portfolio {
  height: 100%;
}
.portfolio-title {
  color: var(--almost-white);
  margin-block-start: 0.5em;
  margin-block-end: 0em;
  font-weight: 800;
  font-size: 22px;
}
.portfolio-description-container {
  margin-left: 22px;
}
.portfolio-description {
  margin-left: 8px;
  color: var(--slight-gray);
}
.date {
  margin-block-start: 0.5em;
  margin-block-end: 0em;
  color: var(--slight-gray);
  font-size: 12px;
  font-weight: 200;
}
.flex-portfolio {
  display: flex;
}
.triangle-icon {
  color: var(--slate);
  margin-right: 0px;
}
.portfolio-tags {
  margin-left: 8px;
  color: var(--slate);
}

/* image style */
.image-container {
  max-width: 950px;
  margin: auto;
  display: flex;
  position: relative;
}

.portfolio-img {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  object-fit: contain;
}
.border-box-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-bottom: 2px solid var(--slate);
  border-left: 2px solid var(--slate);
}
.border-box-top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border-top: 2px solid var(--slate);
  border-right: 2px solid var(--slate);
}

@media only screen and (max-width: 700px) {
  .container-under-content {
    flex-direction: column;
  }
  .container-portfolio-nav {
    flex-direction: row;
  }
  .btn_portfolio {
    border: 0;
    border-bottom: 2px solid var(--slight-slate);
  }
  .btn_active {
    border-bottom: 2px solid var(--slate);
  }
  .btn_portfolio:hover {
    background-color: var(--slight-slate);
    border: 0;
    border-bottom: 2px solid var(--slate);
    cursor: pointer;
  }
}
