.header {
  width: 100%;
  box-shadow: 0 10px 30px -10px var(--shadow);
  height: 50px;
  backdrop-filter: blur(20px);

  position: fixed;
  z-index: 99;
}
.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  position: relative;

  transition: 0.3s;
  margin: 0 50px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-item {
  margin-left: 20px;

  color: var(--slate);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: var(--slight-gray);
  font-size: 13px;
}
.header-mono {
  color: var(--slate);
  font-size: 13px;
  font-family: SFMono;
  margin-right: 2px;
}
.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 5px;
  left: 0;
  background-color: var(--slate);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-item:hover {
  color: var(--slate);
}
.nav-item:hover .header-mono {
  color: var(--slight-gray);
}
.icon-hamburger {
  z-index: 99;
  font-size: 30px;
  color: var(--slate);
}
.hamburger-icon {
  display: none;
}
.nav-item-mobile {
  color: var(--slate);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: var(--slight-gray);
  font-size: 13px;
}
.mobile-nav {
  position: absolute;
  background-color: var(--background-color);
  margin-top: 160px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100vw;
  border-bottom: 1px solid var(--slate);
  display: none;
}
.logo-nav {
  align-items: center;
}
.contact-icon {
  align-items: center;
  color: var(--almost-white);
  font-size: 15px;
  padding: 10px;
}
@media only screen and (max-width: 700px) {
  .flex-header {
    margin: 0 0px;
  }
  .header-nav {
    display: none;
  }
  .logo-nav {
    margin-left: 10px;
  }
  .hamburger-icon {
    font-size: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
