.wrapper-contact {
  max-width: 800px;
  margin: auto;
}
.container-contact {
  border-radius: 8px;

  margin: 7px;
  background-color: var(--full-white);
  display: flex;
  flex-direction: column;
}
.flex-div-contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.border-div-flex {
  margin-right: 20px;
  border-bottom: 2px solid var(--slight-slate);
  flex: 1;
  height: 0px;
}
.container-left-contact {
  background-color: var(--btn-addCart);
  margin: 7px;
  border-radius: 8px;
}
.container-left-contact p {
  color: var(--main-text-color);
  font-size: 0.7em;
  max-width: 500px;
}
.container-left-contact h2 {
  font-size: 1.2em;
  color: var(--main-text-color);
}
.margin-left {
  margin: 7px;
}

.wrapper-contact {
  margin-bottom: 300px;
}

.contact-text {
  font-family: SFMono;
  color: var(--slight-gray);
  margin: auto;

  max-width: 400px;
}
.href-link-contact {
  color: var(--slate);
}
@media screen and (max-width: 700px) {
  .wrapper-contact {
    margin: 0px 30px 300px;
  }
}
