:root {
  --darkblue: #112240;
  --background-color: #161b22;
  --slate: #64ffda;
  --slight-slate: #233554;
  --bright-green: #64ffda;
  --almost-white: #fff;
  --slight-gray: #8892b0;
  --border-color: #30363d;
  --transparent-white: rgba(255, 255, 255, 0.07);
}

@font-face {
  font-family: SFpro;
  src: url(./assets/fonts/SFPRODISPLAYREGULAR.OTF);
  font-weight: 400;
}
@font-face {
  font-family: SFpro;
  src: url(./assets/fonts/SFPRODISPLAYBOLD.OTF);
  font-weight: 800;
}
@font-face {
  font-family: SFMono;
  src: url(./assets/fonts/SFMonoRegular.otf);
}
body {
  padding: 0;
  margin: 0;
  font-family: SFpro;
}
/* p {
  font-family: "SF Mono", monospace;
} */
h1 {
  font-family: "SFPro", sans-serif;
  font-weight: 800; /* Bold */
}
h2 {
  font-family: "SFPro", sans-serif;
  font-weight: 400; /* Regular */
}
